<?xml version="1.0" encoding="UTF-8"?>
<!-- Artefato do Spring-Framework-Security -->

<!-- Neste arquivo conterão informações específicas do Spring Security, como
	as configurações de permissões para as pastas e configuração da origem dos
	dados dos usuários e permissões. -->
	
	<!-- Continue... -->